.navbar{
    background:hsl(27, 60%, 45%);
    box-shadow:0 5px 15px rgba(0,0,0,.08);
    padding:15px 0;
}

.navbar-brand{
    color:#8B5E3C !important;
    font-weight:700;
}

.nav-link{
    color:#444 !important;
    font-weight:500;
    margin-left:20px;
    transition:.3s;
}

.nav-link:hover{
    color:#D4AF37 !important;
}

.navbar-brand{
    color:#243B55 !important;
}


.btn-primary{
    border-radius:40px;
    padding:10px 25px;
}
.logo-text{
    color:#7d3c8b !important;
}